# Copy this file to config.py and adjust the values below.
USER_ID='REPLACE_WITH_USER'
PASSWORD='REPLACE_WITH_PW'
HTTPS_PROXY='https://PROXY_USER:PROXY_PW@yourproxy.example.com:PORT_NUMBER'
HTTP_PROXY='http://PROXY_USER:PROXY_PW@yourproxy.example.com:PORT_NUMBER'
SSN_MODULE='api_client.veris'
SSN_CLIENT='VerisSsnClient'
